@font-face {
    font-family: 'InterMedium';
    src: local('Inter-Medium'),
      url('../fonts/Inter-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'InterRegular';
    src: local('Inter-Regular'),
      url('../fonts/Inter-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'InterSemiBold';
    src: local('Inter-SemiBold'),
      url('../fonts/Inter-SemiBold.woff2') format('woff2');
  }

  :root{
    font-family: 'InterRegular', sans-serif;
  }

  .container{
    width: 1440px;
    padding: 0 64px;
  }